.phone-mockup {
    width: 320px; 
    height: 660px; 
    border: 10px solid #333;
    border-radius: 40px; 
    background-color: #000; 
    position: relative;
    overflow: hidden;
    margin: 20px auto; 
}
.screen {
    width: calc(100% - 20px); 
    height: calc(100% - 20px); 
    background-color: white;
    margin: 10px; 
    border-radius: 30px; 
     overflow: hidden;

}

