.phone-mockup {
    width: 320px; 
    height: 660px; 
    border: 20 px solid #333;
    border-radius: 40px; 
    background-color: black; 
    position: relative;
    overflow: hidden;
    margin: 20px auto; 

}
.screen {
    width: calc(100% - 20px); 
    height: calc(100% - 20px); 
    background-color: white;
    margin: 10px; 
    border-radius: 30px; 
     overflow: hidden;

}

button {
  padding: 5px 4px;
  margin-top: 2px;
  border: 1px solid black;
  background: white;
  cursor: pointer;     
}

button:hover {
  background: lightgray;
}

.song-card {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

.song-cover {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 10px;
}

.song-info {
  flex: 1;
}

.song-title {
  font-size: 10px;
  font-weight: bold;
}

.song-artist {
  font-size: 10px;
  color: #555;
  margin-top: 3px;
}

.song-duration {
  font-size: 10px;
  color: #777;
}