.container {
    width: 90%;
    margin: 0 auto;

}


body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
 
}
h1 {
    color: #1DB954;
    text-align: center;
    margin-top: 50px;
}
